.signupbody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(244, 213, 236);
    margin: 0;
    font-family: Arial, sans-serif;
    border: 2px solid black;

}

.signup-container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   height: 600px;
   width: 800px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    border: 4px solid black;
}


.signup-form {
    padding: 40px;
    flex: 1;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 40px;
}

.input-group input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.terms input {
    margin-right: 10px;
}

.signup-button {
    background-color:rgb(241, 11, 153) ;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.signup-button:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.signup-info {
    background-color: rgb(240, 150, 239);
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.signup-info h1 {
    font-size: 2em;
    margin: 0;
}
